@model WypożyczalniaSamochodówPremium.Models.Wypozyczenie
@using WypożyczalniaSamochodówPremium.Helpers
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Adm/Views/Shared/_LayoutScript.cshtml";
}

<div class="container-fluid mt-5">
    <div class="animated fadeIn">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-male"></i> Dodaj Wypożyczenie
                </div>
                @{Html.EnableClientValidation();}
                @using (Html.BeginForm("Create", "Wypozyczenie", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="card-body" id="newajax">
                        <div id="autaBazaLoading" style="display:none; text-align:center; position:relative;">
                            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                        </div>
                        @Html.ValidationSummary(true)
                        <h4>Wypożyczenie</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.HiddenFor(model => model.OsobaId)

                        <div class="row form-group line">
                            @Html.LabelFor(model => model.DataWypozyczenia, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.DataWypozyczenia, new { @class = "form-control" })

                                @Html.ValidationMessageFor(model => model.DataWypozyczenia)
                            </div>
                        </div>
                        @*@Html.Action("CarsForAjax", "Samochod", new { from = Model.DataWypozyczenia, to = Model.DataZwrotu })*@

                        <div class="row form-group line">
                            @Html.LabelFor(model => model.DataZwrotu, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.DataZwrotu, new { @class = "form-control" })

                                @Html.ValidationMessageFor(model => model.DataZwrotu)
                            </div>
                            <div class="col-md-5">
                                <a data-toggle="modal" data-remote="false" href="@Url.Action("CarsForAjax", "Samochod", null)" data-target="#modal"><i class="fa fa-plus-circle"></i>Wybierz auto</a>
                            </div>
                        </div>

                        <div class="row form-group line">
                            @Html.LabelFor(model => model.CzyDostarczany, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CzyDostarczany, new { @class = "form-control" })

                                @Html.ValidationMessageFor(model => model.CzyDostarczany)
                            </div>
                        </div>

                        <div class="row form-group line">
                            @Html.LabelFor(model => model.CzyKierowca, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CzyKierowca, new { @class = "form-control" })

                                @Html.ValidationMessageFor(model => model.CzyKierowca)
                            </div>
                        </div>

                        <div class="row form-group line">
                            @Html.LabelFor(model => model.AdresDojazdu, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.AdresDojazdu, new { @class = "form-control" })

                                @Html.ValidationMessageFor(model => model.AdresDojazdu)
                            </div>
                        </div>

                        <div class="row form-group line">
                            @Html.LabelFor(model => model.WydarzenieId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("WydarzenieId", (IEnumerable<SelectListItem>)ViewData["wydarzenieList"], string.Empty, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.WydarzenieId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @Html.Action("SamochodyForWypozyczenie", "Samochod", new { id = Model.WypozyczenieId })

                    </div>
                    <div class="card-footer">
                        <input type="submit" value="Dodaj" class="btn btn-primary" /> &nbsp; @Html.ActionLink("Wróć do listy", "Index", null, new { @class = "btn btn-secondary" })
                    </div>

                }
            </div>

        </div>
    </div>
</div>
<div class="modal inmodal in" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
<script type="text/javascript">




    @*@Url.Action("CarsForAjax", "Samochod", new { from = Model.DataWypozyczenia, to = Model.DataZwrotu })*@
    @*$("#from").change(function () {
    var startDate = $("#from").val();
    $.get('@Url.Action("CarsForAjax", "Samochod")', { from: startDate });
  });*@

    //function navigate(target) {
    //    var from = document.getElementById('DataWypozyczenia').value;
    //    var to = document.getElementById('DataZwrotu').value;

    //    //Perform your navigation
    //    window.location.href = target + "/" + from + "/" + to;
    //}

    $('#modal').on('show.bs.modal', function (e) {

        var from = document.getElementById('DataWypozyczenia').value;
        var to = document.getElementById('DataZwrotu').value;
        var button = $(e.relatedTarget);
        //$(window).on('load', function () { ... });
        var modal = $(this);
        modal.find('.modal-content').load(button.attr("href") + "/" + from + "/" + to);




            //on('load', function () { button.attr("action", url) });

    });
    function HideModal() {

        $('#modal').modal('hide');
        $(document.body).on('hidden.bs.modal', function () {
            $('#modal').removeData('bs.modal')
        });
        $('#modal').data('modal', null);
    }

    $(document.body).on('hidden.bs.modal', function () {
        $('#modal').removeData('bs.modal')
    });

    //$(document).ready(function () {
    //    $.ajax({
    //        type: "GET",
    //        url: "/Samochod/PopulateMarkiDropdown",
    //        data: "{}",
    //        success: function (data) {
    //            var s = '<option value="-1">Proszę wybrać markę</option>';
    //            for (var i = 0; i < data.length; i++) {
    //                s += '<option value="' + data[i] + '">' + data[i] + '</option>';
    //            }
    //            $("#markiDropdown").html(s);
    //        }
    //    });
    //});from = Model.DataWypozyczenia, to = Model.DataZwrotu
    @*"@(Model.from)";
     "@(Model.to)";*@

 $('#Marka').change(function () {
                var selectedMarka = $("#Marka").val();
                var modeleSelect = $('#Model');
                var from = $("#Marka").val();
                var to =   
                modeleSelect.empty();
        if (selectedMarka != null && selectedMarka != '') {
            $.getJSON('@Url.Action("PopulateModeleDropdownAJAX","Samochod")', { marka: selectedMarka, startDate : from, endDate : to }, function (modele) {
                        if (modele != null && !jQuery.isEmptyObject(modele))
                        {
                            modeleSelect.append($('<option/>', {
                                value: "",
                                text: ""
                            }));
                            $.each(modele, function (index, model) {
                                modeleSelect.append($('<option/>', {
                                    value: model.Value,
                                    text: model.Text
                                }));
                            });
                        };
                    });
                }
    });
    

</script>