@model WypożyczalniaSamochodówPremium.Models.Samochod
@using WypożyczalniaSamochodówPremium.Helpers
@{
    ViewBag.Title = "Samochody";
    Layout = "~/Areas/Adm/Views/Shared/_LayoutScript.cshtml";
}


<div class="container-fluid mt-5">
    <div class="animated fadeIn">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-car"></i> Dodaj samochód
                </div>
                @{Html.EnableClientValidation();}
                @using (Html.BeginForm("Create", "Samochod", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="card-body" id="newCar">
                        <div id="autaBazaLoading" style="display:none; text-align:center; position:relative;">
                            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                        </div>
                        @Html.ValidationSummary(true)
                        <div class="form-horizontal">
                            <h4>Samochód</h4>
                            <hr />

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                            <div class="form-group row">
                                @Html.LabelFor(model => model.Marka, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.DropDownListFor(x => Model.Marka, (IEnumerable<SelectListItem>)ViewData["Marka"], string.Empty, htmlAttributes: new { @class = "form-control", @id = "Marka" })
                                    @Html.ValidationMessageFor(x => x.Marka, "", new { @class = "text-danger" })
                                </div>
                                <a data-toggle="modal" data-remote="false" href="@Url.Action("Create", "AutaBaza", null)" data-target="#modal"><i class="fa fa-plus-circle"></i> Dodaj</a>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.Model, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.DropDownListFor(x => Model.Model, (IEnumerable<SelectListItem>)ViewData["Model"], string.Empty, htmlAttributes: new { @class = "form-control", @id = "Model" })
                                    @Html.ValidationMessageFor(x => x.Model, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.Wersja, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.Wersja, new { @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.Wersja)
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.RokProdukcji, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.RokProdukcji, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.RokProdukcji)
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.RodzajSilnika, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.DropDownList("RodzajSilnika", (IEnumerable<SelectListItem>)ViewData["RodzajSilnika"], string.Empty, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.RodzajSilnika)
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.PojemnoscSilnika, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.PojemnoscSilnika, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PojemnoscSilnika)
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.SkrzyniaBiegow, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.DropDownList("SkrzyniaBiegow", (IEnumerable<SelectListItem>)ViewData["SkrzyniaBiegow"], string.Empty, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SkrzyniaBiegow)
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.LiczbaDrzwi, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.DropDownList("LiczbaDrzwi", (IEnumerable<SelectListItem>)ViewData["LiczbaDrzwi"], string.Empty, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.LiczbaDrzwi)
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.Kolor, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.Kolor, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Kolor)
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.Przebieg, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Przebieg, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Przebieg)
                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" value="Dodaj" class="btn btn-primary" /> &nbsp; @Html.ActionLink("Wróć do listy", "Index", null, new { @class = "btn btn-secondary" })
                    </div>
                    <form method="post" enctype="multipart/form-data" action="Samochod/Upload">
                        <div>
                            <span>
                                Name:
                            </span>
                            <span>
                                <input type="text" id="Name" name="Name" />
                            </span>
                        </div>
                        <div>
                            <span>
                                Alternate Text:
                            </span>
                            <span>
                                <input type="text" id="AlternateText" name="AlternateText" />
                            </span>
                        </div>
                        <div>
                            <span>
                                Image
                            </span>
                            <span>
                                <input type="file" id="OriginalLocation" name="OriginalLocation" />
                            </span>
                        </div>
                        <div>
                            <input type="submit" value="Upload" />
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal in" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

<script type="text/javascript">

    $('#modal').on('show.bs.modal', function (e) {

        var button = $(e.relatedTarget);
        var modal = $(this);

        // load content from HTML string
        //modal.find('.modal-body').html("Nice modal body baby...");

        // or, load content from value of data-remote url
        modal.find('.modal-content').load(button.attr("href"));

    });
    function HideModal() {

        $('#modal').modal('hide');
        $(document.body).on('hidden.bs.modal', function () {
            $('#modal').removeData('bs.modal')
        });
        $('#modal').data('modal', null);
    }

    $(document.body).on('hidden.bs.modal', function () {
        $('#modal').removeData('bs.modal')
    });

    //$(document).ready(function () {
    //    $.ajax({
    //        type: "GET",
    //        url: "/Samochod/PopulateMarkiDropdown",
    //        data: "{}",
    //        success: function (data) {
    //            var s = '<option value="-1">Proszę wybrać markę</option>';
    //            for (var i = 0; i < data.length; i++) {
    //                s += '<option value="' + data[i] + '">' + data[i] + '</option>';
    //            }
    //            $("#markiDropdown").html(s);
    //        }
    //    });
    //});

    $('#Marka').change(function () {
                var selectedMarka = $("#Marka").val();
                var modeleSelect = $('#Model');
                modeleSelect.empty();
        if (selectedMarka != null && selectedMarka != '') {
                    $.getJSON('@Url.Action("PopulateModeleDropdown")', { marka: selectedMarka }, function (modele) {
                        if (modele != null && !jQuery.isEmptyObject(modele))
                        {
                            modeleSelect.append($('<option/>', {
                                value: "",
                                text: ""
                            }));
                            $.each(modele, function (index, model) {
                                modeleSelect.append($('<option/>', {
                                    value: model.Value,
                                    text: model.Text
                                }));
                            });
                        };
                    });
                }
            });
</script>