@model WypożyczalniaSamochodówPremium.Models.Samochod
@using WypożyczalniaSamochodówPremium.Helpers;
@{
    ViewBag.Title = "Usuń";
}

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-trash"></i> Usuń samochód
                </div>
                @using (Html.BeginForm("Delete", "Samochod", new { id = Model.SamochodId }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="card-body">
                        <h3>Czy na pewno chcesz usunąć samochód?</h3>
                        <div class="form-horizontal mt-5">

                            <div class="row form-group line">
                                @Html.LabelFor(model => model.Marka, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.Marka)

                                </div>
                            </div>

                            <div class="row form-group line">
                                @Html.LabelFor(model => model.Przebieg, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.Przebieg)
                                </div>
                            </div>

                            <div class="row form-group line">
                                @Html.LabelFor(model => model.RodzajSilnika, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.RodzajSilnika)
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="editor-field" style="text-align:left;">
                            <p>
                                <input type="submit" class="btn btn-secondary" value="Usuń" />&nbsp;
                                @Html.ActionLink("Anuluj", "Index", "Samochod", null, new { @class = "btn btn-primary" })
                            </p>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>