@model WypożyczalniaSamochodówPremium.Models.Samochod
@using WypożyczalniaSamochodówPremium.Helpers
@{
    ViewBag.Title = "Samochody";
    Layout = "~/Areas/Adm/Views/Shared/_LayoutScript.cshtml";
}
<style>
    img {
        border: 1px solid #ddd; /* Gray border */
        border-radius: 4px; /* Rounded border */
        padding: 5px; /* Some padding */
        width: 150px; /* Set a small width */
    }

        /* Add a hover effect (blue shadow) */
        img:hover {
            box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        }
    .fa-trash:before {
        color: black;
    }
</style>

<div class="container-fluid mt-5">
    <div class="animated fadeIn">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-car"></i> Szczegóły samochodu
                </div>
                <div class="card-body">
                    <div id="autaBazaLoading" style="display:none; text-align:center; position:relative;">
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                    </div>
                    <div class="form-horizontal">
                        <h4>Samochód</h4>
                        <hr />
                        <div class="form-group row ">
                            @Html.LabelFor(model => model.Marka, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
                            <div class="col-md-6">
                                @Html.DisplayFor(model => model.Marka)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.Model, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
                            <div class="col-md-6">
                                @Html.DisplayFor(model => model.Model)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.Wersja, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
                            <div class="col-md-6">
                                @Html.DisplayFor(model => model.Wersja)

                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.RokProdukcji, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
                            <div class="col-md-6">
                                @Html.DisplayFor(model => model.RokProdukcji)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.RodzajSilnika, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
                            <div class="col-md-6">
                                @Html.DisplayFor(model => model.RodzajSilnika)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.PojemnoscSilnika, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
                            <div class="col-md-6">
                                @Html.DisplayFor(model => model.PojemnoscSilnika)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.SkrzyniaBiegow, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
                            <div class="col-md-6">
                                @Html.DisplayFor(model => model.SkrzyniaBiegow)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.LiczbaDrzwi, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
                            <div class="col-md-6">
                                @Html.DisplayFor(model => model.LiczbaDrzwi)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.Kolor, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
                            <div class="col-md-6">
                                @Html.DisplayFor(model => model.Kolor)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.Przebieg, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
                            <div class="col-md-6">
                                @Html.DisplayFor(model => model.Przebieg)
                            </div>
                        </div>



                        @*@Html.IconActionLink("fa fa-plus-circle", "Opisy", "Index", "Opis", new { id = Model.SamochodId }, new { @class = "btn btn-primary" })*@

                        <div class="form-group row">
                            @if (Model.Opis.Count() > 0)
                            {
                                @Html.LabelFor(model => model.Opis.ElementAt(0).OpisOgolny, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
                            }
                        </div>
                        @Html.Action("DisplayOpisy", "Opis", new { id = Model.SamochodId })

                        <div class="form-group row">
                            @if (Model.Opis.Count() > 0)
                            {
                                @Html.LabelFor(model => model.ImageSamochod.ElementAt(0).Image.ImageData, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
                            }
                        </div>
                        <div id="updatePhoto">
                            @Html.Action("DisplayZdjecia", "Samochod", new { id = Model.SamochodId })
                        </div>

                    </div>
                </div>
                <div class="card-footer">
                    @Html.ActionLink("Wróć do listy", "Index", null, new { @class = "btn btn-secondary" }) &nbsp; <a data-toggle="modal" data-remote="@Url.Action("Upload", "Samochod", new { id = Model.SamochodId })" href="#" data-target="#modal"><i class="fa fa-plus-circle"></i> Dodaj zdjęcie</a>
                    @Html.IconActionLink("fa fa-plus-circle", "Dodaj Opis", "Create", "Opis", new { id = Model.SamochodId }, new { @class = "btn btn-primary", @style = "float: right" })
                    @Html.IconActionLink("fa fa-info-circle", "Serwisy", "ShowSerwisyForSamochod", "Serwis", new { id = Model.SamochodId }, new { @class = "btn btn-primary", @style = "float: right" })
                    @Html.IconActionLink("fa fa-info-circle", "Przeglady", "ShowPrzegladyForSamochod", "Przeglad", new { id = Model.SamochodId }, new { @class = "btn btn-primary", @style = "float: right" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal in" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>


<script type="text/javascript">

    $('#modal').on('show.bs.modal', function (e) {

        var button = $(e.relatedTarget);
        var modal = $(this);

        // load content from HTML string
        //modal.find('.modal-body').html("Nice modal body baby...");

        // or, load content from value of data-remote url
        modal.find('.modal-content').load(button.data("remote"));

    });
    function HideModal() {

        $('#modal').modal('hide');
        $(document.body).on('hidden.bs.modal', function () {
            $('#modal').removeData('bs.modal')
        });
        $('#modal').data('modal', null);
    }

    $(document.body).on('hidden.bs.modal', function () {
        $('#modal').removeData('bs.modal')
    });



</script>


