
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Wypożyczalnia samochodów premium</title>



    @*@Styles.Render("BootstrapUNIFY")
        @Styles.Render("IconsUNIFY")

        @Scripts.Render("JQueryUNIFY")*@












    @Styles.Render("~/Content/UnifyCSS")
    @Styles.Render("~/Content/UnifyCustomCSS")


    @Scripts.Render("~/bundles/WWW_js_global_compulsory")

    @Scripts.Render("~/bundles/WWW_js_implementing_plugins_home")
    @Scripts.Render("~/bundles/Unify/jquery-ui")

    @Scripts.Render("~/bundles/WWW_js_unify")
    @Scripts.Render("~/bundles/WWW_js_custom")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")


    @RenderSection("scripts", required: false)

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    <script>

        $(document).on('ready', function () {
            // initialization of carousel
            $.HSCore.components.HSCarousel.init('.js-carousel');

            // initialization of tabs
            $.HSCore.components.HSTabs.init('[role="tablist"]');

            // initialization of popups
            $.HSCore.components.HSPopup.init('.js-fancybox');

            // initialization of go to
            $.HSCore.components.HSGoTo.init('.js-go-to');

            // initialization of text animation (typing)
            $(".u-text-animation.u-text-animation--typing").typed({
                strings: [
                    "an awesome template",
                    "perfect template",
                    "just like a boss"
                ],
                typeSpeed: 60,
                loop: true,
                backDelay: 1500
            });
        });

        $(window).on('load', function () {
            // initialization of header
            $.HSCore.components.HSHeader.init($('#js-header'));
            $.HSCore.helpers.HSHamburgers.init('.hamburger');

            // initialization of HSMegaMenu component
            $('.js-mega-menu').HSMegaMenu({
                event: 'hover',
                pageContainer: $('.container'),
                breakpoint: 991
            });
        });

        $(window).on('resize', function () {
            setTimeout(function () {
                $.HSCore.components.HSTabs.init('[role="tablist"]');
            }, 200);
        });


    </script>

</head>
<body>
    <main>
        <header id="js-header" class="u-header u-header--static">
            <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10">
                <nav class="js-mega-menu navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal">
                    <div class="container">
                        <!-- Responsive Toggle Button -->
                        <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-minus-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                            <span class="hamburger hamburger--slider">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </span>
                        </button>
                        <!-- End Responsive Toggle Button -->
                        <!-- Logo -->
                        <a href="/" class="navbar-brand d-flex"><img style="width:150px;height:87px" src="~/Content/Graphics/HomeLogo.jpg" alt="Home Logo"></a>
                        <!-- End Logo -->
                        <!-- Navigation -->
                        <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg" id="navBar">
                            <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto">
                                <!-- Intro -->
                                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                                    <a href="/Home/Index" class="nav-link g-py-7 g-px-0">Strona główna</a>
                                </li>

                                <!-- End Intro -->                                <!-- Pages -->
                                <li class="hs-has-sub-menu nav-item  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
                                    <a id="nav-link-pages" class="nav-link g-py-7 g-px-0" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu-pages">Menu</a>

                                    <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling" id="nav-submenu-pages" aria-labelledby="nav-link-pages" style="display: none;">

                                        <li class="dropdown-item ">
                                            <a class="nav-link" href="/Cars/Index">Flota samochodów</a>
                                        </li>
                                        <!-- Pages - About -->
                                        <li class="dropdown-item hs-has-sub-menu ">
                                            <a id="nav-link--pages--about" class="nav-link" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--pages--about">About</a>

                                            <!-- Submenu (level 2) -->
                                            <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-minus-2" id="nav-submenu--pages--about" aria-labelledby="nav-link--pages--about" style="display: none;">
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-about-1.html">About 1</a>
                                                </li>

                                                <li class="dropdown-divider"></li>

                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-about-me-1.html">About me 1</a>
                                                </li>
                                            </ul>

                                            <!-- End Submenu (level 2) -->
                                        </li>
                                        <!-- End Pages - About -->
                                        <!-- Pages - Portfolios -->
                                        <li class="dropdown-item hs-has-sub-menu ">
                                            <a id="nav-link--pages--portfolio" class="nav-link" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--pages--portfolio">Portfolios</a>

                                            <!-- Submenu (level 2) -->
                                            <ul class="hs-sub-menu list-unstyled u-shadow-v11 u-dropdown-col-2 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-minus-2" id="nav-submenu--pages--portfolio" aria-labelledby="nav-link--pages--portfolio" style="display: none;">
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-portfolio-case-study-1.html">Case Studies 1</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-portfolio-case-study-2.html">Case Studies 2</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-portfolio-single-item-5.html">Single item 5</a>
                                                </li>

                                            </ul>
                                            <!-- End Submenu (level 2) -->
                                        </li>

                                    </ul>
                                </li>
                                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                                    <a href="/Cars/SearchCar" class="nav-link g-py-7 g-px-0" style="color:dodgerblue">Wypożycz samochód!</a>
                                </li>
                                @if (Request.IsAuthenticated)
                                {
                                    @Html.Action("CarInCart", "Cars")
                                }
                                @Html.Partial("_LoginPartial")
                            </ul>
                        </div>
                        
                        

                        <!-- End Navigation -->

                    </div>
                </nav>
            </div>
        </header>

    </main>
    <div></div>
        @RenderBody()
        <hr />
        <footer>
            @RenderPage("~/Views/Shared/_Footer.cshtml")
        </footer>

    

</body>
</html>
