<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Wypożyczalnia samochodów premium</title>
    @*CSS*@
    @Styles.Render("BootstrapUNIFY")
    @Styles.Render("IconsUNIFY")


    @*END CSS*@





    @*@Styles.Render("~/Content/UnifyCSS")
        @Styles.Render("~/Content/UnifyCustomCSS")*@


</head>
<body>
    <main>
        <header id="js-header" class="u-header u-header--static">
            <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10">
                <nav class="js-mega-menu navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal">
                    <div class="container">
                        <!-- Responsive Toggle Button -->
                        <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-minus-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                            <span class="hamburger hamburger--slider">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </span>
                        </button>
                        <!-- End Responsive Toggle Button -->
                        <!-- Logo -->
                        <a href="/" class="navbar-brand d-flex"><img style="width:150px;height:87px" src="~/Content/Graphics/HomeLogo.jpg" alt="Home Logo"></a>
                        <!-- End Logo -->
                        <!-- Navigation -->
                        <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg" id="navBar">
                            <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto">
                                <!-- Intro -->
                                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                                    <a href="/Home/Index" class="nav-link g-py-7 g-px-0">Strona główna</a>
                                </li>
                                <!-- End Intro -->                                <!-- Pages -->
                                <li class="hs-has-sub-menu nav-item  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
                                    <a id="nav-link-pages" class="nav-link g-py-7 g-px-0" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu-pages">Pages</a>

                                    <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling" id="nav-submenu-pages" aria-labelledby="nav-link-pages" style="display: none;">
                                        <!-- Pages - About -->
                                        <li class="dropdown-item hs-has-sub-menu ">
                                            <a id="nav-link--pages--about" class="nav-link" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--pages--about">About</a>

                                            <!-- Submenu (level 2) -->
                                            <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-minus-2" id="nav-submenu--pages--about" aria-labelledby="nav-link--pages--about" style="display: none;">
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-about-1.html">About 1</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-about-2.html">About 2</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-about-3.html">About 3</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-about-4.html">About 4</a>
                                                </li>

                                                <li class="dropdown-divider"></li>

                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-about-me-1.html">About me 1</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-about-me-2.html">About me 2</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-about-me-3.html">About me 3</a>
                                                </li>
                                            </ul>
                                            <!-- End Submenu (level 2) -->
                                        </li>
                                        <!-- End Pages - About -->
                                        <!-- Pages - Portfolios -->
                                        <li class="dropdown-item hs-has-sub-menu ">
                                            <a id="nav-link--pages--portfolio" class="nav-link" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--pages--portfolio">Portfolios</a>

                                            <!-- Submenu (level 2) -->
                                            <ul class="hs-sub-menu list-unstyled u-shadow-v11 u-dropdown-col-2 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-minus-2" id="nav-submenu--pages--portfolio" aria-labelledby="nav-link--pages--portfolio" style="display: none;">
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-portfolio-case-study-1.html">Case Studies 1</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-portfolio-case-study-2.html">Case Studies 2</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-portfolio-single-item-1.html">Single item 1</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-portfolio-single-item-2.html">Single item 2</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-portfolio-single-item-3.html">Single item 3</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-portfolio-single-item-4.html">Single item 4</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-portfolio-single-item-5.html">Single item 5</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-portfolio-single-item-6.html">Single item 6</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-portfolio-single-item-7.html">Single item 7</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-portfolio-single-item-8.html">Single item 8</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-portfolio-single-item-9.html">Single item 9</a>
                                                </li>
                                            </ul>
                                            <!-- End Submenu (level 2) -->
                                        </li>
                                        <!-- End Pages - Portfolios -->
                                        <!-- Pages - Login &amp; Signup -->
                                        <li class="dropdown-item hs-has-sub-menu ">
                                            <a id="nav-link--pages--login-signup" class="nav-link" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--pages--login-signup">Login &amp; Signup</a>

                                            <!-- Submenu (level 2) -->
                                            <ul class="hs-sub-menu list-unstyled u-shadow-v11 u-dropdown-col-2 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-minus-2" id="nav-submenu--pages--login-signup" aria-labelledby="nav-link--pages--login-signup" style="display: none;">
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-login-and-signup-1.html">Login &amp; Signup</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-signup-1.html">Signup 1</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-signup-2.html">Signup 2</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-signup-3.html">Signup 3</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-signup-4.html">Signup 4</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-signup-5.html">Signup 5</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-signup-6.html">Signup 6</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-signup-7.html">Signup 7</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-signup-8.html">Signup 8</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-signup-9.html">Signup 9</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-signup-10.html">Signup 10</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-signup-11.html">Signup 11</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-signup-12.html">Signup 12</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-login-1.html">login 1</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-login-2.html">Login 2</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-login-3.html">Login 3</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-login-4.html">Login 4</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-login-5.html">Login 5</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-login-6.html">Login 6</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-login-7.html">Login 7</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-login-8.html">Login 8</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-login-9.html">Login 9</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-login-10.html">Login 10</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-login-11.html">Login 11</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-login-12.html">Login 12</a>
                                                </li>
                                            </ul>
                                            <!-- End Submenu (level 2) -->
                                        </li>
                                        <!-- End Pages - Login &amp; Signup -->
                                        <!-- Pages - Services -->
                                        <li class="dropdown-item hs-has-sub-menu ">
                                            <a id="nav-link--pages--services" class="nav-link" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--pages--services">Services</a>

                                            <!-- Submenu (level 2) -->
                                            <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-minus-2" id="nav-submenu--pages--services" aria-labelledby="nav-link--pages--services" style="display: none;">
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-services-1.html">Services 1</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-services-2.html">Services 2</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-services-3.html">Services 3</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-services-4.html">Services 4</a>
                                                </li>
                                            </ul>
                                            <!-- End Submenu (level 2) -->
                                        </li>
                                        <!-- End Pages - Services -->
                                        <!-- Pages - Search results -->
                                        <li class="dropdown-item hs-has-sub-menu ">
                                            <a id="nav-link--pages--search-result" class="nav-link" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--pages--search-result">Search results</a>

                                            <!-- Submenu (level 2) -->
                                            <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-minus-2" id="nav-submenu--pages--search-result" aria-labelledby="nav-link--pages--search-result" style="display: none;">
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-search-results-grid-veiw-1.html">Grid View</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-search-results-grid-veiw-left-sidebar-1.html">Grid View <span class="g-opacity-0_5">(with Sidebar)</span></a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-search-results-list-veiw-1.html">List View 1</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-search-results-list-veiw-2.html">List View 2</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-search-results-list-veiw-left-sidebar-1.html">List View <span class="g-opacity-0_5">(with Sidebar)</span></a>
                                                </li>
                                            </ul>
                                            <!-- End Submenu (level 2) -->
                                        </li>
                                        <!-- End Pages - Search results -->
                                        <!-- Pages - Profiles -->
                                        <li class="dropdown-item hs-has-sub-menu ">
                                            <a id="nav-link--pages--profile" class="nav-link" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--pages--profile">Profiles</a>

                                            <!-- Submenu (level 2) -->
                                            <ul class="hs-sub-menu list-unstyled u-shadow-v11 u-dropdown-col-2 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-minus-2" id="nav-submenu--pages--profile" aria-labelledby="nav-link--pages--profile" style="display: none;">
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-profile-main-1.html">Main</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-profile-profile-1.html">User</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-profile-projects-1.html">Projects</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-profile-comments-1.html">Comments</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-profile-history-1.html">History</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-profile-reviews-1.html">Reviews</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-profile-settings-1.html">Settings</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-profile-users-1.html">Contacts 1</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-profile-users-1-full-width.html">Contacts 1 <span class="g-opacity-0_5">(full width)</span></a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-profile-users-2.html">Contacts 2</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-profile-users-2-full-width.html">Contacts 2 <span class="g-opacity-0_5">(full width)</span></a>
                                                </li>
                                            </ul>
                                            <!-- End Submenu (level 2) -->
                                        </li>
                                        <!-- End Pages - Profiles -->
                                        <!-- Pages - Сontacts -->
                                        <li class="dropdown-item hs-has-sub-menu ">
                                            <a id="nav-link--pages--contacts" class="nav-link" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--pages--contacts">Сontacts</a>

                                            <!-- Submenu (level 2) -->
                                            <ul class="hs-sub-menu list-unstyled u-shadow-v11 u-dropdown-col-2 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-minus-2" id="nav-submenu--pages--contacts" aria-labelledby="nav-link--pages--contacts" style="display: none;">
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-contacts-1.html">Сontacts 1</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-contacts-2.html">Сontacts 2</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-contacts-3.html">Сontacts 3</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-contacts-4.html">Сontacts 4</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-contacts-5.html">Сontacts 5</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-contacts-6.html">Сontacts 6</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-contacts-7.html">Сontacts 7</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-contacts-8.html">Сontacts 8</a>
                                                </li>
                                            </ul>
                                            <!-- End Submenu (level 2) -->
                                        </li>
                                        <!-- End Pages - Сontacts -->
                                        <!-- Pages - Jobs -->
                                        <li class="dropdown-item hs-has-sub-menu ">
                                            <a id="nav-link--pages--jobs" class="nav-link" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--pages--jobs">Jobs</a>

                                            <!-- Submenu (level 2) -->
                                            <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-minus-2" id="nav-submenu--pages--jobs" aria-labelledby="nav-link--pages--jobs" style="display: none;">
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-jobs-1.html">Jobs</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-jobs-description-right-sidebar-1.html">Jobs Description</a>
                                                </li>
                                            </ul>
                                            <!-- End Submenu (level 2) -->
                                        </li>
                                        <!-- End Pages - Jobs -->
                                        <!-- Pages - Pricing -->
                                        <li class="dropdown-item ">
                                            <a class="nav-link" href="../../unify-main/pages/page-pricing-1.html">Pricing</a>
                                        </li>
                                        <!-- End Pages - Pricing -->
                                        <!-- Pages - FAQ -->
                                        <li class="dropdown-item hs-has-sub-menu ">
                                            <a id="nav-link--pages--faq" class="nav-link" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--pages--faq">FAQ</a>

                                            <!-- Submenu (level 2) -->
                                            <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-minus-2" id="nav-submenu--pages--faq" aria-labelledby="nav-link--pages--faq" style="display: none;">
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-faq-1.html">FAQ 1</a>
                                                </li>
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-faq-2.html">FAQ 2</a>
                                                </li>
                                            </ul>
                                            <!-- End Submenu (level 2) -->
                                        </li>
                                        <!-- End Pages - FAQ -->
                                        <!-- Pages - Others -->
                                        <li class="dropdown-item hs-has-sub-menu ">
                                            <a id="nav-link--pages--others" class="nav-link" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--pages--others">Others</a>

                                            <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-minus-2" id="nav-submenu--pages--others" aria-labelledby="nav-link--pages--others" style="display: none;">
                                                <!-- Clients -->
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-clients-1.html">Clients</a>
                                                </li>
                                                <!-- End Clients -->
                                                <!-- Terms -->
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-terms-1.html">Terms</a>
                                                </li>
                                                <!-- End Terms -->
                                                <!-- Сookies -->
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-cookies-1.html">Сookies</a>
                                                </li>
                                                <!-- End Сookies -->
                                                <!-- Invoice -->
                                                <li class="dropdown-item ">
                                                    <a class="nav-link" href="../../unify-main/pages/page-invoice-1.html">Invoice</a>
                                                </li>
                                                <!-- End Invoice -->
                                                <!-- 404 -->
                                                <li class="dropdown-item hs-has-sub-menu ">
                                                    <a id="nav-link--pages--404" class="nav-link" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--pages--404">404</a>

                                                    <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-minus-2" id="nav-submenu--pages--404" aria-labelledby="nav-link--pages--404" style="display: none;">
                                                        <li class="dropdown-item ">
                                                            <a class="nav-link" href="../../specialty-pages/404/404-1.html">404 1</a>
                                                        </li>
                                                        <li class="dropdown-item ">
                                                            <a class="nav-link" href="../../specialty-pages/404/404-2.html">404 2</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <!-- End 404 -->
                                                <!-- Coming Soon -->
                                                <li class="dropdown-item hs-has-sub-menu ">
                                                    <a id="nav-link--pages--coming-soon" class="nav-link" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--pages--coming-soon">Coming Soon</a>

                                                    <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-minus-2" id="nav-submenu--pages--coming-soon" aria-labelledby="nav-link--pages--coming-soon" style="display: none;">
                                                        <li class="dropdown-item ">
                                                            <a class="nav-link" href="../../specialty-pages/coming-soon/page-coming-soon-1.html">Coming Soon</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <!-- End Coming Soon -->
                                            </ul>
                                        </li>
                                        <!-- End Pages - Others -->
                                    </ul>
                                </li>
                                <!-- End Pages -->
                            </ul>
                        </div>
                        <!-- End Navigation -->

                        <div class="d-inline-block g-hidden-md-down g-pos-rel g-valign-middle g-pl-30 g-pl-0--lg">
                            <a class="btn u-btn-outline-primary g-font-size-13 text-uppercase g-py-10 g-px-15" href="https://wrapbootstrap.com/theme/unify-responsive-website-template-WB0412697?ref=htmlstream" target="_blank">Purchase now</a>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
    </main>

    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Wypożyczalnia samochodów premium</p>
    </footer>

    @*JS*@
    @Scripts.Render("JQueryUNIFY")



    @*END JS*@
    @*@Scripts.Render("~/bundles/WWW_js_global_compulsory")
        @Scripts.Render("~/bundles/WWW_js_implementing_plugins_home")
        @Scripts.Render("~/bundles/WWW_js_unify")
        @Scripts.Render("~/bundles/WWW_js_custom")
        @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")*@
    @RenderSection("scripts", required: false)

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
    <script>
        $(document).on('ready', function () {
            // initialization of carousel
            $.HSCore.components.HSCarousel.init('.js-carousel');

            // initialization of tabs
            $.HSCore.components.HSTabs.init('[role="tablist"]');

            // initialization of popups
            $.HSCore.components.HSPopup.init('.js-fancybox');

            // initialization of go to
            $.HSCore.components.HSGoTo.init('.js-go-to');

            // initialization of text animation (typing)
            $(".u-text-animation.u-text-animation--typing").typed({
                strings: [
                    "an awesome template",
                    "perfect template",
                    "just like a boss"
                ],
                typeSpeed: 60,
                loop: true,
                backDelay: 1500
            });
        });

        $(window).on('load', function () {
            // initialization of header
            $.HSCore.components.HSHeader.init($('#js-header'));
            $.HSCore.helpers.HSHamburgers.init('.hamburger');

            // initialization of HSMegaMenu component
            $('.js-mega-menu').HSMegaMenu({
                event: 'hover',
                pageContainer: $('.container'),
                breakpoint: 991
            });
        });

        $(window).on('resize', function () {
            setTimeout(function () {
                $.HSCore.components.HSTabs.init('[role="tablist"]');
            }, 200);
        });


    </script>

</body>
</html>
