@using System.Web.UI.WebControls
@using WypożyczalniaSamochodówPremium.Helpers
@using Microsoft.AspNet.Identity
@model WypożyczalniaSamochodówPremium.Models.UserListViewModel


@{
    ViewBag.Title = "Użytkownicy";
    Layout = "~/Areas/Adm/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-5">
    <div class="animated fadeIn">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-male"></i> Edytuj role użytkowników
                </div>
                @{Html.EnableClientValidation();}
                @using (Html.BeginForm("EditUser", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="card-body">
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                         
                            @Html.HiddenFor(model => model.UserId)

                            <div class="form-group row">
                                <div class="col-md-2">
                                    Rola użytkownika
                                </div>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.Role, Model.RolesList, "Wybierz role ...")
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    Zarejestruj jako pracownika
                                </div>
                                <div class="col-md-6">

                                    @Html.IconActionLink("fa fa-plus-circle", "Dodaj", "Create", "Pracownik", new { area = "Adm", UserHash = Model.UserHash }, new { @class = "btn btn-primary mr-2"})

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" value="Zapisz" class="btn btn-primary" /> @Html.ActionLink("Anuluj", "UserList", null, new { @class = "btn btn-secondary" })

                    </div>
                }
            </div>
        </div>
    </div>
</div>