@using WypożyczalniaSamochodówPremium.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutScript.cshtml";
}



<section class="container g-py-100">
    <div class="row justify-content-center">
        <div class="col-sm-8 col-lg-5">
            <div class="g-brd-around g-brd-gray-light-v4 rounded g-py-40 g-px-30">
                <header class="text-center mb-4">
                    <h2 class="h2 g-color-black g-font-weight-600">Login</h2>
                </header>
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <!-- Form -->
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <form class="g-py-15">
                        <div class="mb-4">
                            @Html.LabelFor(m => m.Email, new { @class = "g-color-gray-dark-v2 g-font-weight-600 g-font-size-13" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" })
                        </div>

                        <div class="g-mb-35">
                            <div class="row justify-content-between">
                                <div class="col align-self-center">
                                    @Html.LabelFor(m => m.Password, new { @class = "g-color-gray-dark-v2 g-font-weight-600 g-font-size-13" })
                                </div>
                                <div class="col align-self-center text-right">
                                    <a class="d-inline-block g-font-size-12 mb-2" href="#!">Forgot password?</a>
                                </div>
                            </div>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15 mb-3" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            <div class="row justify-content-between">
                                <div class="col-8 align-self-center">
                                    <label class="form-check-inline u-check g-color-gray-dark-v5 g-font-size-13 g-pl-25 mb-0">
                                        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0" })
                                        @Html.LabelFor(m => m.RememberMe)
                                    </label>
                                </div>
                                <div class="col-4 align-self-center text-right">
                                    <input type="submit" value="Log in" class="btn btn-md u-btn-primary rounded g-py-13 g-px-25" />
                                </div>
                            </div>
                        </div>
                    </form>
                }
                <!-- End Form -->

                <footer class="text-center">
                        @Html.ActionLink("Register as a new user", "Register", null,new { @class= "g-color-gray-dark-v5 g-font-size-13 mb-0" })
                </footer>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}