<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Wypożyczalnia samochodów premium</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo")
    @Styles.Render("~/Content/toastrCSS")
    @Styles.Render("~/Content/cleveradminCSSstyle")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/cleveradminJS")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/ajax")
    @RenderSection("scripts", required: false)
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed pace-done aside-menu-hidden">
    <header class="app-header navbar">
        <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler sidebar-toggler d-md-down-none h-100 b-r-1 px-3" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>


        @*@if (Request.IsAuthenticated)
            { }*@


    </header>
    @RenderPage("MainMenuControl.cshtml")
    <main class="main">
        @RenderBody()
    </main>
    <footer></footer>
</body>
</html>
