@model WypożyczalniaSamochodówPremium.Models.Opis
@using WypożyczalniaSamochodówPremium.Helpers;
@{
    ViewBag.Title = "Usuń";
}

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-trash"></i> Usuń opis
                </div>
                @using (Html.BeginForm("Delete", "Opis", new { id = Model.OpisId }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="card-body">
                        <h3>Czy na pewno chcesz usunąć ten opis?</h3>
                        <div class="form-horizontal mt-5">

                            <div class="row form-group line">
                                @Html.LabelFor(model => model.OpisOgolny, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.OpisOgolny)

                                </div>
                            </div>

                            <div class="row form-group line">
                                @Html.LabelFor(model => model.Wyposazenie, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.Wyposazenie)
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="editor-field" style="text-align:left;">
                            <p>
                                <input type="submit" class="btn btn-secondary" value="Usuń" />&nbsp;
                                @Html.ActionLink("Anuluj", "Details", "Samochod", new { id = Model.SamochodId}, new { @class = "btn btn-primary" })
                            </p>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>